@media(min-width: 760px){
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        /* border: solid; */
    }

body {
  background-color: rgb(116, 116, 116);
}

.corner {
    background-color: rgb(92, 90, 90);
    display: flex;
    height: 50px;
    width: 93%;
    margin-top: 10px;
    margin-left: 35px;
    position: relative;
    border-radius: 25px;
    border: 1px solid rgb(116, 116, 116);
}

.img1 {
  width: 450px;
  margin: -15px;
  margin-top: -59px;
}
.cycle {
    background-color: white;
  color: rgb(92, 90, 90);
  font-size: 30px;
  font-weight: bolder;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 7px;
  border-radius: 20px;
}
.name {
  color: white;
  margin-left: 60px;
  font-family: cursive;
}
a {
  color: white;
}
body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Source Sans Pro", sans-serif;
}
ul {
  padding: 2.2rem 3rem;
  display: flex;
  gap: 70px;
  margin-left: 290px;
  margin-top: -23px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
}
a:hover {
  color: black;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn1 {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  margin-top: 6px;
  margin-right: -230px;
  border: 1px solid white;
  background-color: rgb(92, 90, 90);
}
.btn1:hover {
  background-color: black;
  color: white;
}
.parttwo{
    display: flex;
}
.part2{
    display: flex;


}
.cycle2 {
  background-color: rgb(116, 116, 116);
  height: 250px;
  width: 250px;
  margin-top: 150px;
  margin-left: -100px;
  border-radius: 120px;
}
.nam {
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 800;
  margin-top: 80px;
  margin-left: 40px;
}
.hd {
  color: rgb(12, 58, 12);
  font-weight: 700;
}
.first-text{
margin-top: 150px;
}
.sc {
  color: white;
  margin-top: 90px;
  justify-self: center;
}
.ul2 {
  display: flex;
  margin-left: 46px;
  gap: 10px;
}
.line {
  background-color: rgb(12, 58, 12);
  height: 5px;
  width: 90%;
  margin-top: 170px;
  border-radius: 10px;
}
.line1 {
  background-color: rgb(12, 58, 12);
  height: 5px;
  width: 2%;
  margin-top: 170px;
  border-radius: 10px;
}
.line2 {
  background-color: rgb(12, 58, 12);
  height: 5px;
  width: 2%;
  margin-top: 170px;
  border-radius: 10px;
}
.call {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  margin-top: 10px;
  border: 1px solid white;
  background-color: rgb(92, 90, 90);
  position: absolute;
 
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ski {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.skillz {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: white;
}

.projectz {
  padding-top: 70px;
}

.projects__row-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.projectz1 {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.row-img {
  width: 50%;
}

.projectz1 {
  align-items: center;
}

.projectz2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.projectz2 {
  font-size: 2.3rem;
}

.projectz3 {
  font-size: 2rem;
  color: grey;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}
.link {
  margin-top: -85px;
  font-size: 1.3rem;
  background-color: rgb(143, 209, 143);
  padding: 10px;
  border-radius: 10px;
}
.link:hover {
  background-color: black;
  color: beige;
}
.header__logo-img-cont {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
  background: #0062b9;
}
.seeMore {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgb(92, 90, 90);
}
}

@media(max-width: 700px){
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        /* border: solid; */
    }

body {
  background-color: rgb(116, 116, 116);
}

.corner {
    background-color: rgb(92, 90, 90);
    display: flex;
    height: 50px;
    width: 93%;
    margin-top: 10px;
    margin-left: 35px;
    position: relative;
    border-radius: 25px;
    border: 1px solid rgb(116, 116, 116);
}

.img1 {
  width: 450px;
  margin: -15px;
  margin-top: -59px;
}
.cycle {
    background-color: white;
  color: rgb(92, 90, 90);
  font-size: 30px;
  font-weight: bolder;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  margin-left: 7px;
  border-radius: 20px;
}
.name {
  color: white;
  margin-left: 60px;
  font-family: cursive;
}
a {
  color: white;
}
body {
  box-sizing: border-box;
  position: relative;
  line-height: 1.5;
  font-family: sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Source Sans Pro", sans-serif;
}
ul {
  padding: 2.2rem 3rem;
  display: flex;
  gap: 70px;
  margin-left: 290px;
  margin-top: -23px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  transition: color 0.3s;
}
a:hover {
  color: black;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.btn1 {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  margin-top: 6px;
  margin-right: -230px;
  border: 1px solid white;
  background-color: rgb(92, 90, 90);
}
.btn1:hover {
  background-color: black;
  color: white;
}
.parttwo{
    display: flex;
}
.part2{
    display: flex;
    flex-direction: column;


}
.cycle2 {
  background-color: rgb(116, 116, 116);
  height: 250px;
  width: 250px;
  margin-top: 150px;
  margin-left: -100px;
  border-radius: 120px;
}
.nam {
  position: absolute;
  color: white;
  font-size: 30px;
  font-weight: 800;
  margin-top: 80px;
  margin-left: 40px;
}
.hd {
  color: rgb(12, 58, 12);
  font-weight: 700;
}
.first-text{
margin-top: 150px;
}
.sc {
  color: white;
  margin-top: 90px;
  justify-self: center;
}
.ul2 {
  display: flex;
  margin-left: 46px;
  gap: 10px;
}
.line {
  background-color: rgb(12, 58, 12);
  height: 5px;
  width: 90%;
  margin-top: 170px;
  border-radius: 10px;
}
.line1 {
  background-color: rgb(12, 58, 12);
  height: 5px;
  width: 2%;
  margin-top: 170px;
  border-radius: 10px;
}
.line2 {
  background-color: rgb(12, 58, 12);
  height: 5px;
  width: 2%;
  margin-top: 170px;
  border-radius: 10px;
}
.call {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  margin-top: 10px;
  border: 1px solid white;
  background-color: rgb(92, 90, 90);
  position: absolute;
 
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ski {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}
.skillz {
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: white;
}

.projectz {
  padding-top: 70px;
}

.projects__row-img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.projectz1 {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.row-img {
  width: 50%;
}

.projectz1 {
  align-items: center;
}

.projectz2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.projectz2 {
  font-size: 2.3rem;
}

.projectz3 {
  font-size: 2rem;
  color: grey;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 3rem;
}
.link {
  margin-top: -85px;
  font-size: 1.3rem;
  background-color: rgb(143, 209, 143);
  padding: 10px;
  border-radius: 10px;
}
.link:hover {
  background-color: black;
  color: beige;
}
.header__logo-img-cont {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
  background: #0062b9;
}
.seeMore {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgb(92, 90, 90);
}
}

